/* Estilos de las tipografías generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: url("/home/usuario/proyecto-bd/pagina-inicio/fondo.jpg") center / cover no-repeat;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 10px;

}

.navbar{
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

}

.navbar .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.navbar .logo img {
    width: 5.3rem;
    border-radius: 50%;
}

.navbar .logo h2 {
    color : #fff;
    font-size: 1.5rem;
    font-weight: 550;
}

.navbar .links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar .links a:hover {
    color: #274625;
    transition: all 0.1s ease;
}

.navbar .login-btn {
    border: none;
    color: #142413;
    outline: none;
    font-size:  1rem;
    font-weight: 400;
    padding: 10px 14px;
    border-radius: 25px;
    cursor: pointer;
    background: #fff;
}

.navbar .login-btn:hover {
    background: #1a3019; 
    color: #fff;
    transition: background 0.2s ease; 
}

/* Estilos del formulario de inicio de sesión */
.form-popup {
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    max-width: 720px;
    max-height: 90vh;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -100%);
    border-radius: 7px;
    padding: 0 15px;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.form-popup .form-box{
    display: flex;
}

.form-box .form-details{
    max-width: 330px ;
    display: flex;
    width: 100%;
    height: 10;
    color: #142413;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}   


.form-box h2{
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content{
    padding: 25px;
    width: auto;
}

.input-field{
    height: auto;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.input-field input {
    width: 100%;
    height: 60px;
    outline: none;
    padding: 0 20px;    
    font-size: 1.1rem;
    border-radius: 3px;
    border: 1px solid #686868;
}

.input-field input:focus {
    border-color: #142413;
    transition: border 0.2s ease;
}
.input-field input:is(:focus, :valid) {
    border-color: #274625;
    padding: 16px 15px 0;
    transition: border-color 0.3s ease;
}

.input-field label{
    position: absolute;
    top: 50%;
    color: #686868;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.1s ease;
}

.input-field input:is(:focus, :valid) ~ label {
    color: #274625;
    font-size: 0.75rem;
    transform: translateY(-120%);
}

/* Estilos del form-box */

.form-box a {
    color:#142413;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.forgot-pass {
    color: #142413; 
    text-decoration: none; 
}

.form-box .forgot-pass{
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;

}

.forgot-pass:hover {
    color: #274625; 
    text-decoration: underline; 
}
/* Estilos del botón de inicio de sesión */

form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-weight: 550;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color:#fff;
    background-color: #274625;
    transition: 0.2 ease;
}

form button:hover{
    background: #1a3019;
}
.form-box .bottom-link{
    text-align: center;

}

/* Estilos del boton de cerrar del registro */

.form-popup .close-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;


}

.form-box :where(.forgot-pass, .policy){
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}

.signup .policy-text{
    display: flex;
    align-items: center;
}

.signup .policy-text input{
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

.form-popup .signup {
    display: none; /* Oculta la pantalla de registro por defecto */
}

.form-popup.show-signup .login {
    display: none; /* Oculta la pantalla de inicio de sesión cuando se muestra la de registro */
}

.form-popup.show-signup .signup {
    display: flex; /* Muestra la pantalla de registro */
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(6px);
    transition: 0.1s ease;
    z-index: 1000;
}

/* Estilos para adapatarlo al Script */
.show-popup .blur-bg-overlay{
    opacity: 1;
    pointer-events: auto;
}

.show-popup .form-popup{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

/*Estilos de la seccion de informacion de servicios*/
.information-section {
    width: 98%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 20px 75px;
    margin-top: 200px;
    background-color: #1a3019;
    padding-bottom: 30px;
    margin-bottom: 10px;
    margin-left: 16px;
}

.information-1 i {
    color: #ffffff;
    transform: scaleX(0.90);
    transform: scaleY(0.90);
    margin-bottom: 10px;
    display: block;
  }

.information-content{
    text-align: center;
    display: flex;
    justify-content: space-between
}
.information-section .information-content .information-1 p{
    color: #ffffff;
}

.information-section .information-content .information-1 p {   
    transform: scaleX(0.94); /* reduce el ancho a 90% */
    display: inline-block;
    margin-bottom: 0;
}

h3{
   font-size: 17px;
   color: rgb(255, 255, 255);
   text-transform: capitalize;
}

/* Estilos de la seccion de plantas */
.products-container h2{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: rgb(19, 19, 19);
    padding-bottom: 17px;
}

.products-container {
    background-color: rgb(255, 255, 255);
    padding-top: 35px;
    padding-bottom: 40px;
}

.products {
    padding: 0 0 100px 0;
    text-align: center;
}
.product img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

.product {
    text-align: center;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.2);
    padding: 25px;
}

.product img {
    width: 150px;
    height: 55%;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.16); /* Aumenta el tamaño de la imagen al pasar el cursor */
}

.product h3{
    color: #274625;
}

.product p {
   font-size: 15px; 
   margin: 0;
   color: black;
   font-weight: 400;
}

.products h2 {
    font-size: 40px;
    color: #686868;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.product-content {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(4, 1fr);
    gap: 55px;
}

.aprender-mas-btn{
    display: inline-block;
    margin-top: 15px;
    padding: 2px 18px;
    border-radius: 7px;
    color: #fff;
    background-color: #274625;
}

.aprender-mas-btn:hover {
    background-color: #1a3019;
}

/*EStilos de la seccion de imagenes decorativas*/

.service{
    background-image: url("/home/usuario/proyecto-bd/pagina-inicio/imagenes-service/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.footer-content-container{
    background-color: rgb(255, 255, 255);
    position: 45px 0;
}

.footer-content-container{
    display: flex;
    justify-content: space-between;
}

.footer-content-container .link {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    text-align: center; /* Centra el contenido dentro del contenedor */
}

.footer-content-container .link h3{
    color: #1a1b1a;
    font-size: 20px;
    font-weight: 850px;
    margin-bottom: 10px;
}

.link a {
    color: #1a1b1a;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;

}
.link a:hover {
    color: #274625;
    text-decoration: none /* Agrega subrayado solo al pasar el mouse */
}




/* Formatos para adaptarse a diferente tamanos de pantalla */
@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

@media (max-width: 950px){
    .navbar {
        padding: 15px 0;
    }

    .navbar .logo img {
        display: none;
    }

    .navbar .logo h2 {
        display: none;
    }
    .navbar .links {
        display: fixed;
        left : 0;
        top: 0;
        width: 100%;
    }

    .navbar .login-btn {
        padding: 7px 10px;
        font-size: 0.9rem;
    }
}