/* Estilos de las tipografías generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  }
  
  body {
      width: 100%;
      height: 100vh;
      background: url("../fotos/recursos/fondo.jpg") center / cover no-repeat;
  }
  
  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
  
  }
  
  .navbar{
      display: flex;
      padding: 22px 0;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      justify-content: space-between;
  
  }
  
  .navbar .logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 10px;
  }
  
  .navbar .logo img {
      width: 5.3rem;
      border-radius: 50%;
  }
  
  .navbar .logo h2 {
      color : #fff;
      font-size: 1.5rem;
      font-weight: 550;
  }
  
  .navbar .links {
      display: flex;
      list-style: none;
      gap: 35px;
  }
  
  .navbar .links a {
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 500;
  }
  
  .navbar .links a:hover {
      color: #274625;
      transition: all 0.1s ease;
  }

/*esilos del panel*/
.directorio{
    padding: 40px;
    padding-top: 20px;
    width: 80%;
    margin-left: 160px;
    color: #274625;
    font-size: 25px;
    background-color: #fff;
    text-align: center; 
    border-radius: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.directorio .opciones  i {
    color: #274625;
    gap: 20px; 
}

.directorio p {
    color: black;
    font-size: 17px;
    font-weight: 500; 
}

.directorio .opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}

/* Estilo de los botones de la listas */

.opciones {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .opcion {
    background-color: #ffffff;
    border: 2px solid #274625;
    border-radius: 15px;
    padding: 30px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    color: #274625;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
    margin-bottom:  60px;
  }
  
  .opcion i {
    font-size: 2.5rem;
    margin-bottom: 10px;
    display: block;
  }
  
  .opcion span {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .opcion:hover {
    background-color: #274625;
    transform: translateY(-5px);
    cursor: pointer;
    color: #fff;
  }

  .opcion:hover i {
    color: #fff;
  }

  .usuario-info {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
    margin-top: 20px;
    border: 2px solid #192c17;
    border-radius: 10px;
    padding: 20px; 
}

.usuario-info img {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.usuario-info div {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}


.usuario-info p {
    margin: 0;
    font-size: 1.07rem; 
    color: #000000; 
}

.usuario-info p:first-child {
    margin-top: 60px; 
}

.usuario-info .rectangulo-gris {
    width: 200px; /* Ancho del rectángulo */
    height: 300px; /* Alto del rectángulo */
    background-color: #e0e0e0; /* Color gris */
    border-radius: 10px; /* Bordes redondeados */
}

.rectangulo {
    display: inline-block;
    background-color: #f0f0f0; /* gris claro */
    padding: 8px 12px;
    border-radius: 5px;
    min-width: 200px;
    text-align: left;
    margin-left: 10px;
  }
  
  .datos-usuario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
  }
  
  .fila-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .fila-info label {
    width: 100px;
    font-weight: bold;
    text-align: right;
    color: #000;
    margin-right: 10px;
    justify-content: flex-start;
  }
  
  .rectangulo {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 5px;
    min-width: 200px;
    text-align: left;
    justify-content: flex-start;
  }
  
  .favoritas h2 {
    color: #274625;
    font-size: larger;
    padding-top: 20px;
  }

  